/*폰트 적용*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    /* 밑줄 없애기 */
    list-style-type: none;
    text-decoration: none;   
    /* 표테두리와 셀테두리를 합친것에 대한 설정*/
    border-collapse: collapse; 
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 100;/*글시 두께*/
}
.contents1 {
    font-size: 20px;
    font-weight: lighter;
}

.contents3 {
    font-size: 14px;
    font-weight: 100;
}
.contents1_bold {
    font-size: 18px;
    font-weight: bold;
}
/* ----*/

.result {
    font-size: 24px;
}

.intro_bg {
    background-image: url("./img/intro.png");
    width: 100%;
    height: 718px;
}

.search_area {
    width: 300px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 24px;
}
.search_area > form > input {
    border: none;
    background:rgba(0,0,0,0.0);
    width: 250px;
    height: 40px;
    color: #fff;
    padding-left: 10px;
}

.search_area > form > span {
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.header {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
}

.nav li {
    margin-right: 50px;
    margin-left: 80px;
}

.nav > li > a {
    color: #fff;
}

.intro_text {
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4 {
    color: #fff; 
}

.amount {
    position: relative;
    top: -66px; /*위로 올리기*/
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.amount > li {
    flex: 1;
    height: 132px;
}

.amount > li > div {
    text-align: center;
    height: 57px;
    margin-top: 37px; /*가운데로 맞춰주기*/
}

.amount > li:not(:last-child) > div {
    border-right: 1px solid #E1E1E1;
}

.main_text0 {
    width: 100%;
    height: 601px;
    background: #F1F2F3;
    margin-top: -132px;
}

.main_text0 > h1 {
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .contents1 {
    text-align: center;
}

.icons {
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}

.icons > li {
    flex: 1;
    background: #fff;
    height: 302px;
    margin-top: 49px;
    text-align: center;
}

.icons > li >.icon_img {
    margin-top: 18px;
}

/*마지막 자식요소만 빼고 margin-right 들어가라*/
.icons > li:not(:last-child) {
    margin-right: 20px;
}

.icons .contents3 {
    width: 240px;
    margin: auto;
    letter-spacing: -1px;
}

.more {
    width: 100px;
    height: 30px;
    background: blue;
    color: #fff;
    margin: 25px auto;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
}
.main_text1 {
    width: 100%;
    height: 659px;
}
.main_text1 > h1 {
    padding-top: 50px;
    text-align: center;
}
.main_text1 > .contents1 {
    text-align: center;
}

.service {
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}

.service > .contents2 {
    padding: 20px;
}

.service > .contents2 >h2 {
    margin-bottom: 27px;
}

.main_text2 {
    width: 100%;
    height: 418px;
    background-image: url("./img/contact.png");
}
.main_text2 > ul {
    display: flex;
    padding-top: 138px;
}


.main_text2 > ul > li {
    flex: 1;
    text-align: center;
}


.main_text2 > ul > li > div > h1,
.main_text2 > ul > li > div {
    color: #fff;
}


.more2 {
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 16px auto;
    border: 2px solid #fff;
    cursor: pointer;
}


.footer{
    display: flex;
    background: #1f1f1f;
    padding:30px;
  }
  .footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
  }
  .footer > div:last-child {
    flex:9;
    color: #fff;
  }
  


















